/* .application-header {
    margin-top: 20px;
}
*/
.application-header > .ui.center.aligned.header {
    margin-bottom: 0px;
    background: #202020;
}

.application-header .ui.menu {
    background: #202020;
    color: #777777;
}

.application-header .ui.menu .item {
    color: #777777;
}

.application-header .ui.menu .item:hover {
    color: #fff;;
}

.application-header .ui.menu .item.active {
    color:#fff;
    background: #000000;
}